body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: "Onest", sans-serif;
  color: white;
}

p {
  font-size: 22px;
}

span {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #ffbc2a;
  padding: 30px 100px 25px 100px;
  transition: all .1s linear;
}

.head {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 90%;
}

.logo {
  width: 30%;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  list-style: none;
  padding: 0;
}

.logo img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

a:hover {
  background-color: rgba(255, 188, 42, 0.7);
  color: white ;
  border-bottom: 4px solid white;
  border-radius: 25px;
}

.active {
  background-color: rgb(255, 188, 42, 0.9);
  color: white ;
  border-bottom: 4px solid white;
  border-radius: 25px;
}


.container {
  max-width: 80%;
  margin: 25px auto;
}

.text {
  max-width: 75%;
}

.photo img {
  border-radius: 20px;
  border: 3px solid #ffbc2a;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info .text h1 {
  text-align: center;
  margin: 5px 0;
}

.info .text p {
  margin: 5px 0;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company_text {
  margin-bottom: 15px;
}

.company_table {
  font-size: 20px;
  border: 1.5px solid white;
}

table th {
  border-bottom: 1.5px solid white;
  border-right: 1.5px solid white;
}

table th:last-child {
  border-right: none;
}

table td {
  border-bottom: 1.5px solid white;
  border-right: 1.5px solid white;
}

table tr td:last-child {
  border-right: none;
}